* {
    font-family: monospace;
  }

  #iphoneMockup {
    width: 350px;
  }

  .iphone-container {
    position: relative;
  }

  .iphone-content {
    position: absolute;
    top: 70px;
    left: 21.2px;
    width: 307px;
    height: 513px;
  }

/* Login Page: */
.login-container{
  max-width: 250px;
}
