@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap");

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* iPhone Mockup */
#iphoneMockup {
  width: 350px;
}

.iphone-container {
  position: relative;
}

.iphone-content {
  position: absolute;
  top: 70px;
  left: 21.2px;
  width: 307px;
  height: 513px;
}

/* Login Page */
.login-container {
  max-width: 250px;
}

/* Contact Page */
.map-responsive {
  position: relative;
  overflow: hidden;
  padding-bottom: 70%;
  height: 0;
}

.map-responsive iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* About us Page */
#founder {
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  color: #f76f72;
  padding: 0 15px;
  border: 3px solid black;
  border-radius: 50px;
  border-spacing: 500px;
}
