* {
    font-family: monospace;
  }

  .iphone-container {
    position: relative;
  }

  .iphone-content {
    position: absolute;
    top: 100px;
    left: 27.5px;
    width: 392px;
    height: 640px;
  }

/* Login Page: */
.login-container{
  max-width: 250px;
}
